@import url('https://fonts.googleapis.com/css2?family=Bitcount&family=Bitcount+Prop+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    background-color: #fff;
    height: 60px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media(min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #666777;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* .hero-section {
    background: url(images/dxb.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before{
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount", system-ui;
}


.slider-wrapper .slider-item {
    position: relative;
    width: 100%;
    height: 600vh;
}

.slider-wrapper .slider-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/dxb.png);
    background-size: cover;
    background-position: center;

} */

