@import url('https://fonts.googleapis.com/css2?family=Bitcount&family=Bitcount+Prop+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('footer.css');
@import url('company.css');
@import url('exihi.css');
@import url('snow.css');
@import url('nav.css');
@import url('whomslide.css');

/* body{
    background-color: #000;
} */

/* Remove overflow: hidden from body and html to allow scrolling */
body,
html {
    height: 100%;
    background: #110101;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.split-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slideshow .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
}

.slideshow .slider * {
    outline: none;
}

.slideshow .slider .item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}

.slideshow .slider .item .text {
    display: none;
}

/* .slideshow .slider .item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* .slideshow .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This maintains aspect ratio while filling container */
    /* position: absolute;
    top: 0;
    left: 0;
} */ */

.slideshow .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.slideshow .slick-dots {
    position: static;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: auto;
    color: #6d6a6a;
    display: block;
}

.slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}

.slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}

.slideshow .slick-dots li button:before {
    content: '';
    background: #fff;
    color: #fff;
    height: 2px;
    width: 20px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    opacity: 0.6;
}

.slideshow .slick-dots li.slick-active button:before {
    width: 40px;
    opacity: 1;
}

    /* .slideshow.slideshow-right {
        left: 0;
        z-index: 1;
        width: 50vw;
        pointer-events: none;


    } */
.slideshow.slideshow-right {
    left: 50%; /* Changed from left: 0 */
    z-index: 1;
    width: 50vw;
}
.slideshow.slideshow-left {
    width: 50vw;
    z-index: 2;
}

.slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
}

/* Simple text overlay styles */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.text-overlay .text-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 80px;
    opacity: 0;
    transition: opacity 0.8s ease;
    line-height: 1;
}

.text-overlay .text-item.active {
    opacity: 1;
}

@media (max-width: 767px) {
    .text-overlay .text-item {
        font-size: 40px;
        letter-spacing: 10px;
    }
}

.the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
}

.the-most img {
    max-width: 100%;
}
